################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/_ReSharper.Caches
/samples/Api/bin
/samples/Api/obj
/samples/ConsoleClient/bin
/samples/ConsoleClient/obj
/samples/GrainCollection/bin
/samples/GrainCollection/obj
/samples/GrainInterfaces/bin
/samples/GrainInterfaces/obj
/samples/Grains/bin
/samples/Grains/obj
/samples/IdentityServer/IdentityServer/bin
/samples/IdentityServer/IdentityServer/obj
/samples/IdentityServer/bin
/samples/IdentityServer/obj
/samples/Interfaces/bin
/samples/Interfaces/obj
/samples/SiloHost1/bin
/samples/SiloHost1/obj
/samples/WebClient/bin
/samples/WebClient/obj
/src/Orleans.Security.Authorization/bin
/src/Orleans.Security.Authorization/obj
/src/Orleans.Security.Cluster/bin
/src/Orleans.Security.Cluster/obj
/src/Orleans.Security.ClusterClient/bin
/src/Orleans.Security.ClusterClient/obj
/src/Orleans.Security.Core/bin
/src/Orleans.Security.Core/obj
/src/Orleans.Security/bin
/src/Orleans.Security/obj
/test/Orleans.Security.IntegrationTests/bin
/test/Orleans.Security.IntegrationTests/obj
/samples/IdentityServer/IdentityServer/IdentityServer.csproj.user
/Orleans.Security.sln.DotSettings.user
/samples/Api/Api.csproj.user
