################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/_ReSharper.Caches

/src/Orleans.Security.Authorization/bin
/src/Orleans.Security.Authorization/obj
/src/Orleans.Security.Clustering/bin
/src/Orleans.Security.Clustering/obj
/src/Orleans.Security.Client/bin
/src/Orleans.Security.Client/obj
/src/Orleans.Security.Core/bin
/src/Orleans.Security.Core/obj
/src/Orleans.Security/bin
/src/Orleans.Security/obj
/test/Orleans.Security.IntegrationTests/bin
/test/Orleans.Security.IntegrationTests/obj
/samples/IdentityServer/IdentityServer/IdentityServer.csproj.user
/Orleans.Security.sln.DotSettings.user
/Orleans.Security.Build.sln.DotSettings.user	
/samples/Api/Api.csproj.user
/test/Orleans.Security.IntegrationTests.TokenVerification/obj
/test/Orleans.Security.IntegrationTests.TokenVerification/bin
/.idea
/test/Orleans.Security.IntegrationTests.Functional/bin
/test/Orleans.Security.IntegrationTests.Functional/obj
/samples/version-2-2/Api/bin/
/samples/version-2-2/Api/obj
/samples/version-2-2/ConsoleClient/bin/
/samples/version-2-2/ConsoleClient/obj
/samples/version-2-2/Grains/bin/
/samples/version-2-2/Grains/obj
/samples/version-2-2/IdentityServer/bin/
/samples/version-2-2/IdentityServer/obj
/samples/version-2-2/Interfaces/bin/
/samples/version-2-2/Interfaces/obj
/samples/version-2-2/SiloHost1/bin/
/samples/version-2-2/SiloHost1/obj
/samples/version-2-2/WebClient/bin/
/samples/version-2-2/WebClient/obj
/samples/version-3-0/Api/bin/
/samples/version-3-0/Api/obj
/samples/version-3-0/ConsoleClient/bin/
/samples/version-3-0/ConsoleClient/obj
/samples/version-3-0/Grains/bin/
/samples/version-3-0/Grains/obj
/samples/version-3-0/IdentityServer/bin/
/samples/version-3-0/IdentityServer/obj
/samples/version-3-0/Interfaces/bin/
/samples/version-3-0/Interfaces/obj
/samples/version-3-0/SiloHost1/bin/
/samples/version-3-0/SiloHost1/obj
/samples/version-3-0/WebClient/bin/
/samples/version-3-0/WebClient/obj
/samples/version-2-2/Api/Api.csproj.user
/samples/version-2-2/IdentityServer/IdentityServer.csproj.user
/samples/version-2-2/WebClient/WebClient.csproj.user
/samples/version-3-0/Api/Api.csproj.user
/samples/version-3-0/IdentityServer/IdentityServer.csproj.user
/samples/version-3-0/WebClient/WebClient.csproj.user
