@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Index</title>
</head>
<body>
<br/>
<a asp-action="UserProfile">Go to user profile</a>
</body>
</html>