@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UserProfile</title>
</head>
<body>
<h1>UserProfile</h1>
<p>@ViewBag.Response</p>
</body>
</html>


